@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #64C9CF;
  --secondary-color: #FDE49C;
  --light-green: #eee3dc;
  --dark-green: #DF711B;
  --output-color: #e6fcbe;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  background-color: var(--light-green);
}

/* container */
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 500px;
  margin: auto;
}

/* section */
.section {
  padding: 0rem 1.5rem;
}
.section-center {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 420px;
  height: 180px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  color: var(--dark-green);
  text-align: center;
}

@media only screen and (max-width: 520px) {
  .hero-img {
    max-width: 320px;
    height: 150px;
  }
  .hero {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .section {
    padding: 0rem 0.5rem;
  }
}

.container textarea {
  width: 90%;
  min-height: 90px;
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  border: 1px solid var(--dark-green);
  border-radius: 1rem;
}

.container button {
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  margin-top: 0.8rem;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  align-self: center;
}

.container button:hover {
  background-color: var(--secondary-color);
}

.outputDiv {
  width: 90%;
  min-height: 130px;
  background-color: var(--output-color);
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.outputDiv p {
  margin-top: 0rem;
  color: var(--dark-green);
}

.outputDiv hr {
  border: 1px solid var(--primary-color);
}